extends ../includes/layout-auth

block content
  form(action="/login" method="post")
    img.logo(src="/images/auth/it-logo.png", alt="", srcset="")
    div.title !{app.NAME}
    div.sub-title !{subtitle}
    div.fields
      div.username
        input(type="username" name="username" placeholder="username" autofocus autocomplete="off" required)
      div.password
        input(type="password" name="password" placeholder="password" required)
    button.signin-button(type="submit") !{title}
    //- div.link
    //-   a(href="#") Forgot password? or 
    //-   a(href="#") Sign up
    label#error-message
  script.
    const urlParams = new URLSearchParams(window.location.search);
    const info = urlParams.get('info');

    if(info) {
      const errorMessage = document.getElementById("error-message");
      var message = info.split(':');
      errorMessage.innerText = message[1];
      errorMessage.style.display = "block";
    }
