doctype html
head
  title !{app.NAME} - !{title}
  meta(charset='utf-8')
  meta(name='description' content='')
  meta(name='author' content='Wai Phyo')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel="shortcut icon" type="image/png" href="/images/auth/it-logo-transparent.png")
  link(href="/layout-css/lib/font-awesome/css/all.css" rel="stylesheet")
  link(rel='stylesheet', href='/assets/auth/styles.css')
body
  div.login-div
    block content