nav.border.rounded.p-1.mb-4
  div#tableButton.d-flex
    button#btnFilter.btn.btn-sm.btn-secondary.mr-auto.m-1(type='button', role='button' data-toggle="modal", data-target="#FilterDataDialog")
      span.fa.fa-filter
      |  Filter
    button#btnExcel.btn.btn-sm.btn-secondary.m-1(type='button', role='button')
      span.fa.fa-file-excel
      |  Export to Excel
    button#btnPdf.btn.btn-sm.btn-secondary.m-1(type='button', role='button')
      span.fa.fa-file-pdf
      |  Export to PDF
    button#btnPrint.btn.btn-sm.btn-secondary.m-1(type='button', role='button')
      span.fa.fa-print
      |  Direct Print