div.modal.fade#dialogDeleteConfirm(tabindex='-1', role='dialog', aria-labelledby='deleteConfirm')
  div.modal-dialog.modal-dialog-centered.modal-md(role='document')
    div.modal-content
      div.modal-header
        h5.modal-title 
          |  Confirm Message
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      div.modal-body
        h1.text-center
          span.fa.fa-times.text-danger
        p.text-center You will lost this permanently. Are you sure to delete?
      div.modal-footer.justify-content-md-center
        button.btn.btn-sm.btn-light#dialogCancel(type='button', data-dismiss='modal')
          |  CANCEL
        button.btn.btn-sm.btn-danger#dialogAccept(type='button', data-dismiss='modal')
          span.fa.fa-trash-alt
          |  DELETE

div.alert.alert-success.alert-dismissible#alertDeleteSuccess(role='alert' style="display:none;")
  strong Success:
  span#delSuccessMsg  Delete Successful.
  button.close(type='button', data-hide='alert', aria-label='Close')
    span(aria-hidden='true') &times;

div.alert.alert-danger.alert-dismissible#alertDeleteError(role='alert' style="display:none;")
  strong Error:
  span#delErrorMsg  Delete Unsuccessful.
  button.close(type='button', data-hide='alert', aria-label='Close')
    span(aria-hidden='true') &times;

div.alert.alert-dismissible#alert(role='alert' style="display:none;")
  strong.alert-title#alertTitle 
  span#alertMessage
  button.close(type='button', data-hide='alert', aria-label='Close')
    span(aria-hidden='true') &times;