nav(class="navbar fixed-top bg-white border-bottom shadow-sm ")
  button.btn#menu-toggle
    img(src="/images/auth/it-logo-transparent.png", alt="IT" width="30" height="30")
  h4.d-none.d-md-block.p-1.m-1 !{app.NAME}
  .user-nav-items.d-flex.align-items-end
    .nav-item
      a.nav-link(href='#')
        span.fa.fa-user
        span#username  !{user.username}
        span.sr-only

    .nav-item.dropdown
      a.nav-link#notiDropdown(href='#' role='button' data-toggle='dropdown' aria-expanded='false')
        span.fa.fa-bell
        span.notifications-count(data-count='') 9+
          span.sr-only
      .dropdown-menu.notifications(role='menu' aria-labelledby='notiDropdown')
        .notifications-header.d-flex.justify-content-between
          div Notifications
          div View All &nbsp;
            span.fa.fa-arrow-right
        .dropdown-divider
        .notifications-wrapper
          a.content(href='#')
            .notification-item
              h4.item-title New Order &bull; day ago
              p.item-data Confirm or Cancell this order 
          a.content(href='#')
            .notification-item
              h4.item-title New Order &bull; day ago
              p.item-data Confirm or Cancell this order 
          a.content(href='#')
            .notification-item
              h4.item-title New Supplier &bull; day ago
              p.item-data Confirm or Cancell this order 
          a.content(href='#')
            .notification-item
              h4.item-title New Supplier &bull; day ago
              p.item-data Confirm or Cancell this order 
          a.content(href='#')
            .notification-item
              h4.item-title New Supplier &bull; day ago
              p.item-data Confirm or Cancell this order 
          a.content(href='#')
            .notification-item
              h4.item-title New Supplier &bull; day ago
              p.item-data Confirm or Cancell this order 
        .dropdown-divider
        .notifications-footer.d-flex.justify-content-between
          div View All &nbsp;
            span.fa.fa-arrow-right

    .nav-item.dropdown
      a.nav-link#navbarDropdown(href='#' role='button' data-toggle='dropdown' aria-expanded='false')
        span.fa.fa-caret-down
      .dropdown-menu(aria-labelledby='navbarDropdown')
        a.dropdown-item(href=(user.supplier_id ? `/supplier/${user.supplier_id}` : `/user/${user._id}`)) 
          span.fa.fa-pen
          | &nbsp; Edit Profile
        .dropdown-divider
        a.dropdown-item(href='/logout') 
          span.fa.fa-sign-out-alt
          | &nbsp; Logout