doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
  meta(name='generator' content='Jekyll v4.1.1')
  title Offcanvas template &middot; Bootstrap
  link(rel='canonical' href='https://getbootstrap.com/docs/4.5/examples/offcanvas/')
  // Bootstrap core CSS
  link(href='/assets/dist/css/bootstrap.min.css' rel='stylesheet')
  style.
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
  // Custom styles for this template
  link(href='/stylesheets/offcanvas.css' rel='stylesheet')
  link(href='/stylesheets/footer.css' rel='stylesheet')
nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
  nav.container
    a.navbar-brand.mr-auto.mr-lg-0(href='#') Offcanvas navbar
    button.navbar-toggler.p-0.border-0(type='button' data-toggle='offcanvas')
      span.navbar-toggler-icon
    #navbarsExampleDefault.navbar-collapse.offcanvas-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Dashboard 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Notifications
        li.nav-item
          a.nav-link(href='#') Profile
        li.nav-item
          a.nav-link(href='#') Switch account
        li.nav-item.dropdown
          a#dropdown01.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Settings
          .dropdown-menu(aria-labelledby='dropdown01')
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type='text' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
.nav-scroller.bg-white.shadow-sm
  nav.container
    nav.nav.nav-underline
      a.nav-link.active(href='#') Dashboard
      a.nav-link(href='#')
        | Friends
        span.badge.badge-pill.bg-light.align-text-bottom 27
      a.nav-link(href='#') Explore
      a.nav-link(href='#') Suggestions
      a.nav-link(href='#') Link
      a.nav-link(href='#') Link
      a.nav-link(href='#') Link
      a.nav-link(href='#') Link
      a.nav-link(href='#') Link
main.container(role='main')
  .d-flex.align-items-center.p-3.my-3.text-white-50.bg-purple.rounded.shadow-sm
    img.mr-3(src='../assets/brand/bootstrap-outline.svg' alt='' width='48' height='48')
    .lh-100
      h6.mb-0.text-white.lh-100 Bootstrap
      small Since 2011
  .my-3.p-3.bg-white.rounded.shadow-sm
    h6.border-bottom.border-gray.pb-2.mb-0 Recent updates
    .media.text-muted.pt-3
      svg.bd-placeholder-img.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 32x32')
        title Placeholder
        rect(width='100%' height='100%' fill='#007bff')
        text(x='50%' y='50%' fill='#007bff' dy='.3em') 32x32
      p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
        strong.d-block.text-gray-dark @username
        |         Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .media.text-muted.pt-3
      svg.bd-placeholder-img.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 32x32')
        title Placeholder
        rect(width='100%' height='100%' fill='#e83e8c')
        text(x='50%' y='50%' fill='#e83e8c' dy='.3em') 32x32
      p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
        strong.d-block.text-gray-dark @username
        |         Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .media.text-muted.pt-3
      svg.bd-placeholder-img.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 32x32')
        title Placeholder
        rect(width='100%' height='100%' fill='#6f42c1')
        text(x='50%' y='50%' fill='#6f42c1' dy='.3em') 32x32
      p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
        strong.d-block.text-gray-dark @username
        |         Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    small.d-block.text-right.mt-3
      a(href='#') All updates
  .my-3.p-3.bg-white.rounded.shadow-sm
    h6.border-bottom.border-gray.pb-2.mb-0 Suggestions
    .media.text-muted.pt-3
      svg.bd-placeholder-img.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 32x32')
        title Placeholder
        rect(width='100%' height='100%' fill='#007bff')
        text(x='50%' y='50%' fill='#007bff' dy='.3em') 32x32
      .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
        .d-flex.justify-content-between.align-items-center.w-100
          strong.text-gray-dark Full Name
          a(href='#') Follow
        span.d-block @username
    .media.text-muted.pt-3
      svg.bd-placeholder-img.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 32x32')
        title Placeholder
        rect(width='100%' height='100%' fill='#007bff')
        text(x='50%' y='50%' fill='#007bff' dy='.3em') 32x32
      .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
        .d-flex.justify-content-between.align-items-center.w-100
          strong.text-gray-dark Full Name
          a(href='#') Follow
        span.d-block @username
    .media.text-muted.pt-3
      svg.bd-placeholder-img.mr-2.rounded(width='32' height='32' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 32x32')
        title Placeholder
        rect(width='100%' height='100%' fill='#007bff')
        text(x='50%' y='50%' fill='#007bff' dy='.3em') 32x32
      .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
        .d-flex.justify-content-between.align-items-center.w-100
          strong.text-gray-dark Full Name
          a(href='#') Follow
        span.d-block @username
    small.d-block.text-right.mt-3
      a(href='#') All suggestions
div.container
  .div.col-md-12.pb-3
    .bg-info.row.pt-3.pb-3
      div.col-md-3
        .card(style='width: 18rem;').col-md-12
          img.card-img-top(src='images/hero-bcg.jpeg' alt='...')
          .card-body
            h5.card-title Card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          ul.list-group.list-group-flush
            li.list-group-item Cras justo odio
            li.list-group-item Dapibus ac facilisis in
            li.list-group-item Vestibulum at eros
          .card-body.text-right
            a.card-link(href='#').btn.btn-info Card link
      div.col-md-3
        .card(style='width: 18rem;').col-md-12
          img.card-img-top(src='images/hero-bcg.jpeg' alt='...')
          .card-body
            h5.card-title Card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          ul.list-group.list-group-flush
            li.list-group-item Cras justo odio
            li.list-group-item Dapibus ac facilisis in
            li.list-group-item Vestibulum at eros
          .card-body.text-right
            a.card-link(href='#').btn.btn-info Card link
      div.col-md-3
        .card(style='width: 18rem;').col-md-12
          img.card-img-top(src='images/hero-bcg.jpeg' alt='...')
          .card-body
            h5.card-title Card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          ul.list-group.list-group-flush
            li.list-group-item Cras justo odio
            li.list-group-item Dapibus ac facilisis in
            li.list-group-item Vestibulum at eros
          .card-body.text-right
            a.card-link(href='#').btn.btn-info Card link
      div.col-md-3
        .card(style='width: 18rem;').col-md-12
          img.card-img-top(src='images/hero-bcg.jpeg' alt='...')
          .card-body
            h5.card-title Card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          ul.list-group.list-group-flush
            li.list-group-item Cras justo odio
            li.list-group-item Dapibus ac facilisis in
            li.list-group-item Vestibulum at eros
          .card-body.text-right
            a.card-link(href='#').btn.btn-info Card link


footer.kilimanjaro_area
  // Top Footer Area Start
  .foo_top_header_one.section_padding_100_70
    .container
      .row
        .col-12.col-md-6.col-lg-3
          .kilimanjaro_part
            h5 About Us
            p
              | It includes rich features &amp; contents. It&apos;s designed &amp; developed based on One Page/ Multi-page Layout,blog themes,world press themes and blogspot. You can use any layout from any demo anywhere.
            p
              | webblogoverflow is completely creative, clean &amp; 100% responsive website. Put your business into next level with Webublogoverflow.
          .kilimanjaro_part.m-top-15
            h5 Social Links
            ul.kilimanjaro_social_links
              li
                a(href='#')
                  i.fa.fa-facebook(aria-hidden='true')
                  |  Facebook
              li
                a(href='#')
                  i.fa.fa-twitter(aria-hidden='true')
                  |  Twitter
              li
                a(href='#')
                  i.fa.fa-pinterest(aria-hidden='true')
                  |  Pinterest
              li
                a(href='#')
                  i.fa.fa-youtube(aria-hidden='true')
                  |  YouTube
              li
                a(href='#')
                  i.fa.fa-linkedin(aria-hidden='true')
                  |  Linkedin
        .col-12.col-md-6.col-lg-3
          .kilimanjaro_part
            h5 Tags Widget
            ul.kilimanjaro_widget
              li
                a(href='#') Classy
              li
                a(href='#') Blog
              li
                a(href='#') Creative
              li
                a(href='#') One Page
              li
                a(href='#') Multipurpose
              li
                a(href='#') Minimal
              li
                a(href='#') Classic
              li
                a(href='#') Medical
          .kilimanjaro_part.m-top-15
            h5 Important Links
            ul.kilimanjaro_links
              li
                a(href='#')
                  i.fa.fa-angle-right(aria-hidden='true')
                  | Terms &amp; Conditions
              li
                a(href='#')
                  i.fa.fa-angle-right(aria-hidden='true')
                  | About Licences
              li
                a(href='#')
                  i.fa.fa-angle-right(aria-hidden='true')
                  | Help &amp; Support
              li
                a(href='#')
                  i.fa.fa-angle-right(aria-hidden='true')
                  | Careers
              li
                a(href='#')
                  i.fa.fa-angle-right(aria-hidden='true')
                  | Privacy Policy
              li
                a(href='#')
                  i.fa.fa-angle-right(aria-hidden='true')
                  | Community &amp; Forum
        .col-12.col-md-6.col-lg-3
          .kilimanjaro_part
            h5 Latest News
            .kilimanjaro_blog_area
              .kilimanjaro_thumb
                img.img-fluid(src='https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg' alt='')
              a(href='#') Your Blog Title Goes Here
              p.kilimanjaro_date 21 Jan 2018
              p Lorem ipsum dolor sit amet, consectetur
            .kilimanjaro_blog_area
              .kilimanjaro_thumb
                img.img-fluid(src='https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg' alt='')
              a(href='#') Your Blog Title Goes Here
              p.kilimanjaro_date 21 Jan 2018
              p Lorem ipsum dolor sit amet, consectetur
            .kilimanjaro_blog_area
              .kilimanjaro_thumb
                img.img-fluid(src='https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg' alt='')
              a(href='#') Your Blog Title Goes Here
              p.kilimanjaro_date 21 Jan 2018
              p Lorem ipsum dolor sit amet, consectetur
        .col-12.col-md-6.col-lg-3
          .kilimanjaro_part
            h5 Quick Contact
            .kilimanjaro_single_contact_info
              h5 Phone:
              p
                | +255 789 54 50 40 
                br
                |  +2255 766 90 94 00
            .kilimanjaro_single_contact_info
              h5 Email:
              p
                | support@webblogoverflow.com 
                br
                |  luckmoshy@gmail.com
          .kilimanjaro_part
            h5 Latest Works
            .kilimanjaro_works
              a.kilimanjaro_works_img(href='img/gallery/1.jpg')
                img(src='img/gallery/1.jpg' alt='')
              a.kilimanjaro_works_img(href='img/gallery/4.jpg')
                img(src='img/gallery/4.jpg' alt='')
              a.kilimanjaro_works_img(href='img/gallery/5.jpg')
                img(src='img/gallery/5.jpg' alt='')
              a.kilimanjaro_works_img(href='img/gallery/7.jpg')
                img(src='img/gallery/7.jpg' alt='')
              a.kilimanjaro_works_img(href='img/gallery/10.jpg')
                img(src='img/gallery/10.jpg' alt='')
              a.kilimanjaro_works_img(href='img/gallery/11.jpg')
                img(src='img/gallery/11.jpg' alt='')
  // Footer Bottom Area Start
  .kilimanjaro_bottom_header_one.section_padding_50.text-center
    .container
      .row
        .col-12
          p
            | &copy; All Rights Reserved by 
            a(href='#')
              | Webublogoverflow.blogspot -(with all love)
              i.fa.fa-love

script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script.
  window.jQuery || document.write('<script src="/assets/js/vendor/jquery.slim.min.js"><\\/script>')
script(src='/assets/dist/js/bootstrap.bundle.min.js')
script(src='/javascripts/offcanvas.js')
