doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
  meta(name='generator' content='Jekyll v4.1.1')
  link(rel="shortcut icon" href="/images/auth/ecommerce.jpg")
  title rengvo
  // Dashboard CSS
  link(href='https://getbootstrap.com/docs/4.5/examples/dashboard/' rel='canonical')

  // Bootstrap Core CSS
  link(href='/assets/dist/css/bootstrap.min.css' rel='stylesheet')

  // Data Table CSS
  link(href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet")

  // Layout/Lib
  link(href='/layout-css/lib/select2/select2.min.css' rel='stylesheet')

  // Layout CSS
  link(href='/layout-css/dashboard.css' rel='stylesheet')
  link(href='/layout-css/general.min.css' rel='stylesheet')

  // Font Awesome
  link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")

  style.
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

  // JQuery
  script(src="/layout-js/lib/jquery.min.js")

  body
    include layout-navbar
    include layout-sidebar
    block content

<!-- Layout JS/ Lib -->
script(src='/layout-js/lib/select2/select2.full.min.js')

script(src='/assets/dist/js/bootstrap.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js')

<!-- Data Table JS -->
script(src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js")

<!-- Datetime JS -->
script(src="/layout-js/lib/datepicker/bootstrap-datepicker.min.js")

<!-- Layout JS -->
script(src='/layout-js/dashboard.js')  <!-- to fix later ...  -->
script(src='/layout-js/common.js')

script.
  const req = new XMLHttpRequest();
  req.open("GET", "http://localhost:7878/getuser", true);
  req.send();
  req.onreadystatechange = function () {
    if (req.readyState == 4 && req.status == 200) {
      const user = JSON.parse(req.response).user;
      document.getElementById("username").innerText = `${user.username}`;
    }
  };