include ./content-header

div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-3
  h3.h3 !{page.entry.title}

div.alert.alert-dismissible#alert(role='alert')
  strong.alert-title#alertTitle
  span#alertMessage