doctype html
html(lang="en")
head
  title= title
  link(rel="shortcut icon" href="/images/auth/rengvo.jpg")
  link(rel='stylesheet', href='/assets/auth/styles.css')
body
  div.login-div
    block content