div.sidebar.sidebar-hide-to-small.sidebar-shrink.sidebar-gestures
  div.nano
    div.nano-content
      div.logo
        a(href="#")
          span rengvo
      ul
        li.label Main
        li.active
          a(href="#")
            i.ti-dashboard
            | Dashboard
        li.label Apps
        li
          a.sidebar-sub-toggle
            i.ti-files
            | Invoices 
            span.badge.badge-primary
            span.sidebar-collapse-icon.ti-angle-down
          ul
            li
              a(href="./students") Credit 
            li
              a(href="#") Debit
        li
          a.sidebar-sub-toggle
            i.ti-bar-chart-alt
            | Charts
            span.badge.badge-primary
            span.sidebar-collapse-icon.ti-angle-down
          ul
            li 
              a(href="#") Flot 
            li
              a(href="#") Morris
            li
              a(href="#") Peity