extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.p-3
      h3.h3 Dashboard
      .btn-toolbar.mb-2.mb-md-0
        .btn-group.mr-2
          button.btn.btn-sm.btn-outline-secondary(type='button') Share
          button.btn.btn-sm.btn-outline-secondary(type='button') Export
        button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
          span(data-feather='calendar')
          | This week
    canvas#myChart.my-4.w-100(width='900' height='380')
    h4.h4 Sub Title
    .table-responsive
      table.table.table-striped.table-sm
        thead
          tr
            th #
            th Header
            th Header
            th Header
            th Header
        tbody
          tr
            td 1,009
            td augue
            td semper
            td porta
            td Mauris
          tr
            td 1,010
            td massa
            td Vestibulum
            td lacinia
            td arcu
          tr
            td 1,011
            td eget
            td nulla
            td Class
            td aptent
          tr
            td 1,012
            td taciti
            td sociosqu
            td ad
            td litora
          tr
            td 1,013
            td torquent
            td per
            td conubia
            td nostra
          tr
            td 1,014
            td per
            td inceptos
            td himenaeos
            td Curabitur
          tr
            td 1,015
            td sodales
            td ligula
            td in
            td libero