extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.p-3
      h3.h3 Dashboard
      .btn-toolbar.mb-2.mb-md-0
        .btn-group.mr-2
          button.btn.btn-sm.btn-outline-secondary(type='button') Share
          button.btn.btn-sm.btn-outline-secondary(type='button') Export
        button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
          span(data-feather='calendar')
          | This week
    canvas#myChart.my-4.w-100(width='900' height='380')