extends ../includes/ly-main

block content
  div.content-wrap
    div.main
      div.container-fluid
        div.row
          div.col-md-12.title-margin-left
            div.page-header
              div.page-title
                ol.breadcrumb
                  li.breadcrumb-item
                    a(href="/") Dashboard
                  li.breadcrumb-item.active Student List
        div.col-md-12
          table#example.table(style='width:100%')
            thead
              tr
                th #
                th Name
                th Age
                th Grade
                th Active
                th.actions
                  a.btn.btn-sm.btn-success.list-action-text(href=url.entry, role="button", title="Add")
                    i.fa.fa-plus  New
            tbody

  script(src="/assets/js/lib/data-table/datatables.min.js")
  script.
    $(document).ready(function() {
      $.fn.dataTable.ext.errMode = 'none';
      $.fn.dataTable.ext.classes.sPageButton = 'btn btn-sm btn-secondary m-1'; 
      var table = $('#example').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTable Error: ', message);
          alert('Read data is failed!');
        }).DataTable({
          "autoWidth": true,
          "pagingType": "full_numbers",
          "language": {
            "searchPlaceholder": "Search",
            "paginate": {
              "previous": "<",
              "next": ">"
            }
          },
          "ajax": { 
            "type": "Get",
            "url": "./api/students/",
            "headers": {"authorization": "Bearer " + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Ik4zTz9VOEw0QjFTNkUzSyIsImlhdCI6MTU5ODU4Mzc5NCwiZXhwIjoxNTk4NjcwMTk0fQ.dr0gbgTdmRaSEuwl7a_dRtkhuCQX1q_xpu5DC9Wf-7k"},
            "dataSrc": "",
          },
          "columns":  [
            { "data": "id" },
            { "data": "name"},
            { "data": "age" },
            { "data": "grade" },
            { "data": "prefect" },
            { "data": "actions", "className":"nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 4, orderable: false, render: dataTableNotiRenderer() },
            { targets: 5, orderable: false, render: dataTableActionsRenderer("!{url.entry}", "1,1,1") }
          ]
      });
    });