extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')

    include ./../includes/layout-list-header

    table#example.table(style='width:100%')
      thead
        tr
          th #
          th Product Name
          th Customer
          th Email
          th Quantity
          th Updated Time
      tbody#tbl
  script.
    $(document).ready(function() {
      pageEntry = '!{page.entry.url}';

      $.fn.dataTable.ext.errMode = 'none';
      $.fn.dataTable.ext.classes.sPageButton = 'btn btn-sm btn-light m-1'; 

      table = $('#example').on('error.dt', function(e, settings, techNote, message) {
        console.log('DataTable Error: ', message);
        alert('Read data is failed!');
        }).DataTable({...dataTableDef({ expFileName: "!{page.list.title}" }),
          "ajax": {
            "url": "./api" + '!{page.list.url}',
            "headers": {"authorization": "Bearer " + token},
          },
          "columns": [
            { "data": "id"},
            { "data": "productId.name"},
            { "data": "customerId.displayName" },
            { "data": "customerId.email" },
            { "data": "quantity" },
            { "data": "updated_at" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 5, render: dataTableDateTimeRenderer() }
          ]
      });
    });