extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')

    include ./../includes/layout-list-header

    table#example.table(style='width:100%')
      thead
        tr
          th #
          th Product Name
          th User Name
          th Email
          th Quantity
          th Updated Time
      tbody#tbl
  script.
    $(document).ready(function() {
      var token = '!{token}';
      $.fn.dataTable.ext.errMode = 'none';
      $.fn.dataTable.ext.classes.sPageButton = 'btn btn-sm btn-secondary m-1'; 
  
      var table = $('#example').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTable Error: ', message);
          alert('Read data is failed!');
        }).DataTable({
          "autoWidth": true,
          "pagingType": "full_numbers",
          "language": {
            "searchPlaceholder": "Search",
            "paginate": {
              "previous": "<",
              "next": ">"
            }
          },
          "ajax": {
            "url": "./api" + '!{page.list.url}',
            "headers": {"authorization": "Bearer " + token},
          },
          "columns": [
            { "data": "id"},
            { "data": "productId.name"},
            { "data": "customerId.displayName" },
            { "data": "customerId.email" },
            { "data": "quantity" },
            { "data": "updated_at" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 5, render: dataTableDateTimeRenderer() }
          ]
      });
      $('#dialogDeleteConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var deleteUrl = './api' + "!{page.entry.url}/" + id;
          handleDelete(deleteUrl, token, function() {
            $('#example').DataTable().ajax.reload()
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    });